{% extends "base.html" %}
{% block contenido %}
<div class="card shadow p-4" style="width: 400px;">
    <div class="text-center" >
        <h2 class="mb-4"><Strong>Contactos</Strong></h2>
        <p><strong>Nombre:</strong> Cruz Silva Karime Arisbel</p>
        <p><strong>Email:</strong> 243080606610633@cetis61.edu.mx</p>
        <p><strong>Teléfono:</strong> +52 656 550 08 68</p>

      
        <p><strong>Nombre:</strong> Gonzalez Esparza Mitzy Esmeralda</p>
        <p><strong>Email:</strong> 243080606610657@cetis61.edu.mx</p>
        <p><strong>Teléfono:</strong> +52 656 557 62 88</p>
    </div>
</div>

{% endblock %}