{% extends "base.html" %}
{% block contenido %}

<div class="container mt-4">

    <div style="display:flex; flex-wrap:wrap; gap:15px; justify-content:center;">

        {% for labial in labiales %}

        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename=labial.imagen) }}" class="card-img-top">

            <div class="card-body">
                <h5>{{ labial.nombre }}</h5>
                <p>{{ labial.descripcion }}</p>
                <p><strong>${{ labial.precio }}</strong></p>
            </div>
            <a href="/eliminar/{{ labial._id }}" class="btn btn-danger btn-sm"
                onclick="return confirm('¿Estás seguro de que quieres eliminar este labial?');">
                Eliminar
            </a>
            <div>
            <a href="/editar/{{ labial._id }}" class="btn btn-danger btn-sm">Editar</a>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
