{% extends "base.html" %}
{% block contenido %}

<div id="carouselExampleCaptions" class="carousel slide"><h1>RENOVA</h1>
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="balsamoCaramelo1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
    <div class="carousel-item">
    <img src="balsamoCherry1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CHERRY</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
    <div class="carousel-item">
    <img src="StrawBerry.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<div id="carouselExampleCaptions" class="carousel slide"><h1>RENOVA</h1>
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="balsamoCaramelo1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
    <div class="carousel-item">
    <img src="balsamoCherry1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CHERRY</h5>
        <ul>PRESIO:85PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
    <div class="carousel-item">
    <img src="StrawBerry.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA StrawBerry</h5>
        <ul>PRESIO:85PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>


<div id="carouselExampleCaptions" class="carousel slide"><h1>RENOVA</h1>
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="balsamoCaramelo1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
    <div class="carousel-item">
    <img src="balsamoCherry1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CHERRY</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
    <div class="carousel-item">
    <img src="StrawBerry.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<div id="carouselExampleCaptions" class="carousel slide"><h1>PACIFICA</h1>
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="PACIFICABeautiful1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Beautiful</h5>
        <ul>PRESIO:100ps mxn</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
    <div class="carousel-item">
    <img src="PACIFICABeganCollagen1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>COllagen</h5>
        <ul>PRESIO:100PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
    <div class="carousel-item">
    <img src="PACIFICAGlowBABY1" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>Glow BABY</h5>
        <ul>PRESIO:100PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<div id="carouselExampleCaptions" class="carousel slide"><h1>RENOVA</h1>
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="balsamoCaramelo1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
    <div class="carousel-item">
    <img src="balsamoCherry1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CHERRY</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
    <div class="carousel-item">
    <img src="StrawBerry.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
    </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>

<div id="carouselExampleCaptions" class="carousel slide"><h1></h1>
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
    <img src="balsamoCaramelo1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CARAMELO</h5>
        <ul>PRESIO:85PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
    <div class="carousel-item">
    <img src="balsamoCherry1.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA CHERRY</h5>
        <ul>PRESIO:85PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
    <div class="carousel-item">
    <img src="StrawBerry.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5>RENOVA StrawBerry</h5>
        <ul>PRESIO:85PS mxN</ul>
        <button type="button" class="btn btn-outline-secondary">Comprar</button>
    </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
</div>




{% endblock %}