{% extends "base.html" %}
{% block contenido %}

<div class="container mt-5">
    <div class="main-container">

        <form action="/recuperar" method="POST">

            <h1>Recuperar Contraseña</h1>
            <hr>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            <div class="form-group">
                <label>Introduce el correo asociado a tu cuenta</label>

                <input 
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Correo electrónico"
                    required
                    autofocus
                >
            </div>

            <br>

            <button type="submit" class="btn btn-primary btn-lg btn-block">
                Enviar
            </button>

        </form>

    </div>
</div>


{% endblock %}